<?xml version="1.0" ?>
<robot name="pyramid_s">

<link name="pyramid_s_base_link">
  <inertial>
    <origin xyz="3.947459643111669e-18 5.921189464667504e-18 0.007499999999999991" rpy="0 0 0"/>
    <mass value="0.07064999999999996"/>
    <inertia ixx="6e-06" iyy="6e-06" izz="6e-06" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/pyramid_s_base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/pyramid_s_base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="pyramid_s_AP_1">
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="3.288200310757315e-05"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  
  
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  <parent link="pyramid_s_base_link"/>
  <child link="pyramid_s_AP_1"/>
</joint>

</robot>
